$pinkred: #e4585c;

section.campaign {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-feature-settings: "palt";

  & > p:first-child {
    margin: 0 0 50px;

    img {
      max-width: 331px;
    }
  }

  h2 {
    font-size: 40px;
    color: $pinkred;
    margin: 0 0 -6px;
    font-weight: inherit;

    &+p {
      font-size: 72px;
      color: $pinkred;
      font-weight: bold;
      letter-spacing: 0.03em;
      margin: 0 0 30px;

      & span {
        font-size: 120px;
      }

      &+p {
        font-size: 30px;
        line-height: 1.5;
        font-weight: bold;
        color: #333;
        margin: 0 0 76px;

        &+p {
          margin: 0 0 44px;
        }
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    img {
      width: 100%;
      height: auto;
    }

    li {
      width: 100%;
      max-width: 300px;

      & > p:first-child {
        height: 260px;
        display: flex;
        align-items: flex-end;
        margin: 0 0 56px;
      }

      & .inner {
        & p:first-child {
          font-size: 24px;
          margin: 0 0 34px;
          font-family: "Yu Mincho", "YuMincho";
        }
      }

      h3 {
        font-size: 72px;
        margin: 0 0 40px;
        font-family: "Yu Mincho", "YuMincho";
        font-weight: 400;
        &+p {
          font-size: 20px;
          line-height: 1.7;
          margin: 0 0 104px;
        }
      }
    }
  }

  & > p:last-child {
    transform: rotate(180deg);
    margin: 0 0 124px;
  }
}
