@charset "UTF-8";
div.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  height: 580px;
  background: url("../img/key_visual.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 86px; }

/** section.trial **/
section.trial {
  text-align: center; }
  section.trial h2 {
    font-weight: 100;
    font-size: 30px;
    margin: 0 0 22px; }
  section.trial h2 + p {
    margin: 0 0 22px; }
  section.trial h2 ~ p:nth-of-type(2) {
    font-size: 24px;
    border-bottom: 2px dashed #000;
    display: inline-block;
    padding: 0 20px 5px;
    margin: 0 0 40px; }
  section.trial div.trial_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section.trial div.trial_wrap div.trial_wrap_box1 {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 156px 0 0; }
      section.trial div.trial_wrap div.trial_wrap_box1 p:first-child {
        margin: 0 0 90px; }
      section.trial div.trial_wrap div.trial_wrap_box1 p.button {
        font-size: 46px;
        color: #fff;
        padding: 34px 100px;
        border-radius: 30px;
        -webkit-box-shadow: 0 9px 0 #8e0707;
        box-shadow: 0 9px 0 #8e0707;
        background: #be1818;
        display: inline-block; }
      section.trial div.trial_wrap div.trial_wrap_box1 p.button:after {
        content: "▶︎";
        margin: 0 0 0 20px; }
    section.trial div.trial_wrap div.trial_wrap_box2 {
      width: 100%;
      max-width: 410px; }
      section.trial div.trial_wrap div.trial_wrap_box2 div.circle p {
        font-size: 30px;
        margin: 0 0 20px; }
        section.trial div.trial_wrap div.trial_wrap_box2 div.circle p:nth-child(2) {
          font-size: 59px;
          display: inline-block;
          border-bottom: 5px solid #000; }
