.last_conversion{
  width: 100%;
  max-width: 960px;
  margin: 0 auto 106px;
  display: flex;
  justify-content: space-between;
  & > p{
    width: 100%;
    max-width: 432px;
  }
  &_inner{
    width:100%;
    max-width: 510px;
    & > p:first-child{
      margin:0 0 12px;
    }
    .button{
      background: #be1818;
      color: #fff;
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      border-radius: 20px;
      padding: 24px 0;
      box-shadow: 0 9px 0 rgba(142,7,7,1);
      margin: 0 0 30px;
      position: relative;
      top: 0;
      &:hover{
        @include cvBtnhover;
      }
    }
    & > p:last-child{
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

footer{
  display: flex;
  font-size: 18px;
  background: #383838;
  color: #fff;
  padding: 38px 36px;
  .footer_left{
    display: flex;
    margin-right: auto;
    width: 264px;
    justify-content: space-between;
  }
}
