@charset "UTF-8";
body, h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif; }

ul {
  list-style: none; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

div.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  height: 580px;
  background: url("../img/key_visual.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 86px; }

/** section.trial **/
section.trial {
  text-align: center; }
  section.trial h2 {
    font-weight: 100;
    font-size: 30px;
    margin: 0 0 22px; }
  section.trial h2 + p {
    margin: 0 0 22px; }
  section.trial h2 ~ p:nth-of-type(2) {
    font-size: 24px;
    border-bottom: 2px dashed #000;
    display: inline-block;
    padding: 0 20px 5px;
    margin: 0 0 40px; }
  section.trial div.trial_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    section.trial div.trial_wrap div.trial_wrap_box1 {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 156px 0 0; }
      section.trial div.trial_wrap div.trial_wrap_box1 p:first-child {
        margin: 0 0 90px; }
      section.trial div.trial_wrap div.trial_wrap_box1 p.button {
        font-size: 46px;
        color: #fff;
        padding: 34px 100px;
        border-radius: 30px;
        -webkit-box-shadow: 0 9px 0 #8e0707;
        box-shadow: 0 9px 0 #8e0707;
        background: #be1818;
        display: inline-block;
        position: relative;
        top: 0; }
        section.trial div.trial_wrap div.trial_wrap_box1 p.button:after {
          content: "▶︎";
          margin: 0 0 0 20px; }
        section.trial div.trial_wrap div.trial_wrap_box1 p.button:hover {
          top: 9px;
          -webkit-box-shadow: none;
          box-shadow: none; }
    section.trial div.trial_wrap div.trial_wrap_box2 {
      width: 100%;
      max-width: 410px; }
      section.trial div.trial_wrap div.trial_wrap_box2 div.circle {
        border: 7px dashed #009944;
        height: 100%;
        max-height: 410px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 50%;
        color: #009944;
        font-size: 30px;
        position: relative; }
        section.trial div.trial_wrap div.trial_wrap_box2 div.circle:first-child {
          margin: 0 0 0px 0; }
          section.trial div.trial_wrap div.trial_wrap_box2 div.circle:first-child + p {
            margin: 0 0 0px 0;
            font-size: 72px; }
        section.trial div.trial_wrap div.trial_wrap_box2 div.circle:nth-of-type(2) {
          color: #f86e00;
          border: 7px dashed #f86e00; }
        section.trial div.trial_wrap div.trial_wrap_box2 div.circle p {
          margin: 0 0 10px 0; }
          section.trial div.trial_wrap div.trial_wrap_box2 div.circle p:nth-child(2) {
            font-size: 59px;
            display: inline-block;
            text-decoration: underline;
            line-height: 1.2; }

/*# sourceMappingURL=main.css.map */